.for-whom{
    padding-top: 70px;
    margin-top: 95px;
    border-top: 1px solid map-get($gray-color, 90);
    &__title{
        text-align: left;
        margin-bottom: 20px;
    }
    &__icon{
        @include flex(row, center, center);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: $white-color;
        box-shadow: 0 20px 20px 0 rgba($shadow-color, 0.05), 0 1px 1px 0 rgba($shadow-color, 0.1);
    }
    &__item{
        @include flex(column, center, flex-start);
    }
    &__name{
        letter-spacing: -.03rem;
        font-size: 2rem;
        line-height: 1.5;
        margin-top: 15px;
        @include gray-color(42);
        text-align: center;
    }
}