.modal{
    width: 100%;
    max-width: 767px;
    border-radius: 5px;
    background: $white-color;
    box-shadow: none;
    padding: 50px 70px;
    & a.close-modal{
        width: 40px;
        height: 40px;
        @include flex(row, center, center);
        right: 10px;
        top: 10px;
        background: icon('ums-icon-close.svg') no-repeat 50%;
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        will-change: transform;
        &:hover{
            transform: rotate3d(0,0,1,90deg);
        }
    }
    &__title{
        margin: 0;
        font-size: 4rem;
        letter-spacing: -.03em;
        @include font-weight('bold');
        line-height: 1.25;
        margin-bottom: 20px;
    }
    &__process{
        margin-top: 70px;
    }
    &__social{
        @include flex(row, center, flex-start);
        &-link{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                & circle{
                    fill: $primary-color
                }
                & path{
                    fill: $white-color;
                }
            }
        }
    }
    &__btn{
        width: 100%;
    }
    &__privacy-checkbox{
        margin-top: 25px;
    }
}
.video-modal{
    padding: 0;
    height: 530px;
    max-width: 940px;
    background: transparent;
    & iframe{
        display: block;
        border-radius: 5px;
    }
    & a.close-modal{
        top: auto;
        bottom: calc(100% + 10px);
        right: 0;
        background: icon('ums-icon-close-white.svg') no-repeat 50%;
    }
}
.testimonials-modal{
    height: 100%;
}
.lecturer-modal{
    padding-bottom: 70px;
    &__grid{
        @include flex(row, flex-start, flex-start);
    }
    &__img{
        flex-shrink: 0;
        & img{
            width: 100%;
            max-width: 220px;
            max-height: 220px;
        }
    }
    &__info{
        padding-left: 40px;
    }
    &__title{
        max-width: 250px;
    }
    &__text{
        margin-top: 10px;
        & p{
            margin: 0;
            font-size: 1.5rem;
            line-height: 1.3;
            @include gray-color(42);
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__social{
        margin-top: 25px;
    }
}
.order-modal{
    &__btn{
        height: 60px;
    }
}
.success-modal{
    text-align: center;
    &__title{
        margin-top: 20px;
    }
    &__text{
        margin: 0;
        font-size: 1.7rem;
        letter-spacing: .01em;
        line-height: 1.42;
        @include gray-color(42);
    }
}