.results{
    padding: 120px 0;
    &__title{
        text-align: left;
        margin: 0;
    }
    &__icon{
        @include flex(row, center, center);
        width: 100%;
        height: 270px;
        border-radius: 5px;
        background: $primary-light-color;
    }
    &__name{
        margin: 0;
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: -.03rem;
        margin-top: 15px;
    }
}