.header{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    padding: 25px 0;
    &_style{
        &-default{
            position: relative;
        }
    }
    &__info{
        @include flex(row, center, flex-end);
    }
    &__phone-number{
        text-align: right;
        font-size: 2rem;
        @include font-weight('bold');
        text-decoration: none;
        letter-spacing: -.3px;
        color: $white-color;
        margin-left: 50px;
        &:hover{
            color: rgba($white-color, .9);
        }
        & span{
            display: block;
            font-size: 1.2rem;
            letter-spacing: 0;
            @include font-weight('normal');
            color: rgba($white-color, .7);
            margin-top: 2px;
        }
        &_style{
            &-dark{
                color: $black-color;
                & span{
                    @include gray-color(42);
                }
                &:hover{
                    color: rgba($black-color, .8);
                }
            }
        }
    }
    &__select{
        width: 130px;
    }
}