.btn{
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
    font-size: 1.7rem;
    @include font-weight('medium');
    color: $white-color;
    line-height: 1.41;
    background: linear-gradient(190.23deg, $second-color -20.82%, $primary-color 105.72%);
    &:disabled{
        cursor: not-allowed;
        pointer-events: none;
        opacity: .5;
    }
}