.form{
    &__input{
        height: 50px;
        width: 100%;
        border: 1px solid map-get($gray-color, 90);
        border-radius: 5px;
        position: relative;
        &_focused{
            border-color: $primary-color-lighter;
            padding-top: 10px;
        }
        & input{
            width: 100%;
            height: 100%;
            letter-spacing: .01em;
            position: relative;
            z-index: 1;
        }
    }
    &__textarea{
        display: none;
        height: 100px;
        &_opened{
            display: block;
        }
        &-btn{
            margin-left: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 1.7rem;
            letter-spacing: .01em;
            @include gray-color(42);
            @include flex(row, center, flex-start);
            & svg{
                margin-left: 5px;
                transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            &_active{
                & svg{
                    transform: rotate3d(0,0,1,45deg);
                }
            }
        }
        & textarea{
            padding: 15px;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__label{
        position: absolute;
        display: inline-block;
        letter-spacing: .01em;
        font-size: 1.7rem;
        @include gray-color(42);
        left: 15px;
        top: 50%;
        line-height: 1.3;
        transform: translateY(-50%);
        &_active{
            font-size: 1.2rem;
            line-height: 1.25;
            top: 5px;
            transform: translateY(0);
        }
    }
    &__row{
        margin-bottom: 20px;
    }
}
.help-form{
    @include flex(row, center, center);
    &__input{
        max-width: 300px;
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
    }
}