.test{
    padding-bottom: 80px;
    &__title{
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        @include gray-color(30);
        line-height: 1.3;
        position: relative;
        z-index: 1;
    }
    &__link{
        font-size: 1.5rem;
        @include gray-color(30);
        text-decoration: none;
        line-height: 1.3;
        &::before{
            background: map-get($gray-color, 90);
        }
        &:hover{
            &::before{
                background: map-get($gray-color, 62);
            }
        }
    }
    &__img{
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        max-width: 140px;
        margin-top: 10px;
    }
}