.play-button{
    @include flex(column, center, flex-start);
    &__icon{
        @include flex(row, center, center);
        width: 100px;
        height: 100px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0 5px 40px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
        & svg{
            position: relative;
            left: 5px;
        }
        &_style{
            &-transparent{
                background: rgba($white-color, .15);
                border: 1px solid rgba($white-color, .15);
                &:hover{
                    background: rgba($white-color, .20);
                border: 1px solid rgba($white-color, .20);
                }
            }
        }
    }
    &__name{
        margin: 0;
        font-size: 1.5rem;
        color: $white-color;
        line-height: 1.3;
        position: relative;
        margin-top: 15px;
        &::after{
            content: '';
            position: absolute;
            border-bottom: 1px dashed rgba($white-color, .3);
            top: calc(100% + 4px);
            left: 0;
            width: 100%;
            height: 1px;
        }
        &_style{
            &-dark{
                color: $black-color;
                &::after{
                    border-bottom-color: map-get($gray-color, 90);
                }
            }
        }
    }
}