.help-section{
    padding: 115px 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 120px;
        background: image('ums-help-figure.svg') no-repeat;
        background-size: 100% auto;
        background-position: center bottom;
        left: 0;
        bottom: calc(100% - 1px);
    }
    &__title{
        margin-bottom: 15px;
    }
    &__form{
        margin-top: 20px;
    }
    &__checkbox{
        margin-top: 30px;
    }
}