.program{
    position: relative;
    padding: 120px 0;
    padding-top: 260px;
    background: $primary-light-color;
    &__figure{
        height: 650px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: image('ums-program-img.svg') no-repeat 50%;
        background-size: cover;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 120px;
            bottom: -16px;
            background: image('ums-program-figure.svg') no-repeat;
            background-size: 100% auto;
        }
    }
    &__title{
        color: $white-color;
        margin-bottom: 40px;
    }
}