.advantages{
    &__item{
        @include flex(row, center, flex-start);
    }
    &__img{
        flex-shrink: 0;
        margin-right: 15px;
    }
    &__name{
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        color: rgba($black-color, .7);
        word-break: break-word;
    }
}