.breadcrumbs{
    @include flex(row, center, flex-start);
    &__link{
        text-decoration: none;
        font-size: 1.2rem;
        color: $white-color;
        line-height: 1.3;
    }
    & svg{
        margin: 0 10px;
        flex-shrink: 0;
    }
    &__current{
        margin: 0;
        font-size: 1.2rem;
        color: $white-color;
        line-height: 1.3;
    }
    &_style{
        &-dark{
            & a{
                @include gray-color(42);
                &::before{
                    background: rgba(map-get($gray-color, 42), .3);
                }
                &:hover{
                    &::before{
                        background: map-get($gray-color, 62);
                    }
                }
            }
            & svg{
                & path{
                    fill: map-get($gray-color, 42);
                }
            }
            & p{
                @include gray-color(62);
            }
        }
    }
}