.select{
    position: relative;
    display: inline-block;
    &__btn{
        padding: 10px 15px;
        font-size: 1.5rem;
        color: $white-color;
        width: 100%;
        z-index: 1;
        text-align: left;
        background: rgba($white-color, .15);
        border-radius: 5px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            background: icon('ums-icon-down.svg') no-repeat 50%;
            top: 50%;
            margin-top: -1rem;
            right: 1rem;
            transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover{
            background: rgba($white-color, .2);
        }
        &:active{
            background: rgba($white-color, .25);
        }
        &_active{
            background: rgba($white-color, .25);
            &::after{
                transform: scale3d(1,-1,1);
            }
        }
        &_style{
            &-light{
                color: $black-color;
                box-shadow: 0 5px 40px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
                &::after{
                    background: icon('ums-icon-down-dark.svg') no-repeat 50%;
                }
            }
        }
    }
}