.course-info{
    &__item{
        @include flex(row, center, flex-start);
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &-name{
            margin: 0;
            color: rgba($white-color, .5);
            font-size: 1.5rem;
            line-height: 1.3;
            width: 133px;
            text-align: right;
        }
        &-value{
            margin: 0;
            color: $white-color;
            font-size: 1.5rem;
            line-height: 1.3;
            margin-left: 10px;
        }
        &-link{
            text-decoration: none;
            cursor: pointer;
            color: $white-color;
            font-size: 1.5rem;
            line-height: 1.3;
        }
    }
    &__select{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: 50%;
            margin-top: -10px;
            background: icon('ums-icon-down.svg') no-repeat 50%;
        }
        &::before{
            width: calc(100% - 20px);
        }
        & select{
            color: $white-color;
            font-size: 1.5rem;
            line-height: 1.3;
            padding-right: 20px;
            position: relative;
            z-index: 1;
        }
    }
    &__options{
        @include flex(row, center, flex-start);
        margin-top: 40px;
    }
}