.order-process{
    &__title{
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 35px;
    }
    &__grid{
        @include flex(row, flex-start, flex-start);
    }
    &__item{
        width: calc((100% - 45px)/4);
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        &-header{
            @include flex(row, center, flex-start);
        }
        &-number{
            @include flex(row, center, center);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $primary-light-color;
            flex-shrink: 0;
            margin: 0;
            margin-right: 10px;
            font-size: 2.8rem;
            letter-spacing: -0.05rem;
            line-height: 1.42;
        }
        &-text{
            margin-top: 10px;
            & p{
                margin: 0;
                font-size: 1.2rem;
                line-height: 1.25;
                @include gray-color(42);
            }
        }
    }
}