.student-info{
    position: absolute;
    right: calc((100% - 1170px)/2);
    bottom: 0;
    &__img{
        max-width: 560px;
    }
    &__text{
        max-width: 105px;
        margin: 0;
        position: absolute;
        top: 33%;
        right: 30px;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background: rgba($white-color, .25);
            right: calc(100% + 10px);
            top: 22px;
        }
    }
    &__name{
        margin: 0;
        @include flex(column, flex-start, flex-start);
        font-size: 28px;
        color: $white-color;
        line-height: 1.42;
        letter-spacing: -.05rem;
        & span{
            font-size: 1.5rem;
            line-height: 1.3;
            color: rgba($white-color, .5);
        }
    }
}