.content-list{
    background: $white-color;
    border-radius: 5px;
    box-shadow: 0 5px 40px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
    &__item{
        padding: 20px 30px;
        border-bottom: 1px solid map-get($gray-color, 90);
    }
    &__title{
        margin: 0;
        letter-spacing: -.03rem;
        font-size: 2rem;
        line-height: 1.5;
        position: relative;
        padding-right: 30px;
        cursor: pointer;
        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 50%;
            margin-top: -15px;
            background: icon('ums-icon-plus.svg') no-repeat 50%;
            transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &_active{
            &::after{
                transform: rotate3d(0,0,1,45deg);
            }
        }
    }
    &__text{
        display: none;
        padding: 10px 0;
        padding-top: 15px;
        & p{
            margin: 0;
            font-size: 1.5rem;
            line-height: 1.3;
            @include gray-color(42);
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__more-btn{
        padding: 15px 0;
    }
}