.certificate{
    &__text{
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.8rem;
        line-height: 1.42;
        letter-spacing: -.05rem;
        max-width: 330px;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: -165px;
        text-align: left;
    }
}