.footer-menu{
    @include flex(row, flex-start, center);
    &__col{
        @include flex(column, flex-start, flex-start);
        margin-right: 35px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__item{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        color: $white-color;
    }
}