.we{
    padding: 120px 0;
    padding-bottom: 220px;
    &__btn{
        position: absolute;
        @include flex(row, center, center);
        width: 40px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        z-index: 1;
        &-prev{
            right: 100%;
        }
        &-next{
            left: 100%;
        }
    }
}