.social-testimonials{
    @include flex(row, center, center);
    height: 80px;
    padding: 0 30px;
    background: $white-color;
    border-radius: 5px;
    box-shadow: 0 5px 40px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
    &__name{
        margin: 0;
        font-size: 1.7rem;
        letter-spacing: .01em;
    }
    &__link{
        margin-left: 35px;
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        will-change: transform;
        &:hover{
            transform: translateY(-3px);
        }
    }
}