.blog-item{
    background: $white-color;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 15px;
    box-shadow: 0 5px 40px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
    &__img{
        margin-bottom: 15px;
        text-decoration: none;
        & img{
            border-radius: 3px;
        }
    }
    &__info{
        padding: 0 10px;
    }
    &__title{
        text-decoration: none;
        font-size: 2rem;
        @include font-weight('bold');
        line-height: 1.5;
        letter-spacing: -.03rem;
    }
    &__meta{
        @include flex(row, center, flex-start);
        margin-top: 10px;
    }
    &__tag{
        @include flex(row, center, center);
        margin: 0;
        height: 30px;
        padding: 0 10px;
        font-size: 1.5rem;
        line-height: 1.3;
        border-radius: 5px;
        border: 1px solid map-get($gray-color, 90);
    }
    &__date{
        margin: 0;
        font-size: 1.5rem;
        @include gray-color(42);
        margin-left: 15px;
    }
}