.ajax-btn{
    @include flex(row, center, center);
    width: 100%;
    font-size: 1.7rem;
    @include font-weight('medium');
    line-height: 1.41;
    & svg{
        margin-left: 5px;
        flex-shrink: 0;
    }
    &:active{
        color: rgba($black-color, .7);
    }
}