.menu{
    &__wrapper{
        @include flex(row, center, flex-start);
    }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        color: $white-color;
        padding: 5px 0;
        &_style{
            &-dark{
                color: $black-color;
                &::before{
                    background: map-get($gray-color, 90);
                }
                &:hover{
                    &::before{
                        background: map-get($gray-color, 62);
                    }
                }
            }
        }
    }
    &__item{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
}