.testimonial-item{
    &__link{
        @include flex(row, center, flex-start);
        text-decoration: none;
        font-size: 1.7rem;
        letter-spacing: .01em;
        @include gray-color(30);
        padding-left: 35px;
        position: relative;
        margin-top: 30px;
        &::before{
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            margin-top: -12.5px;
            left: 0;
        }
        &_vk{
            &::before{
                background: icon('ums-icon-vk.svg') no-repeat 50%;
            }
        }
        &:hover{
            opacity: .8;
        } 
        &:active{
            @include gray-color(30);
        }
    }
    &__text{
        position: relative;
        & p{
            margin: 0;
            font-size: 2.8rem;
            letter-spacing: -0.05rem;
            line-height: 1.43;
        }
    }
    &__info{
        padding-bottom: 50px;
        padding-top: 50px;
    }
    &__play-btn{
        position: absolute;
        left: 15px;
        top: 5%;
    }
}