.testimonials{
    padding: 100px 0;
    &__wrapper{
        padding-bottom: 50px;
        position: relative;
    }
    &__quote-icon{
        position: absolute;
        z-index: 1;
        right: calc(100% + 10px);
        bottom: 95%;
    }
    &__btn{
        position: absolute;
        @include flex(row, center, center);
        width: 40px;
        height: 40px;
        top: calc(50% - 50px);
        margin-top: 30px;
        &-prev{
            right: 100%;
        }
        &-next{
            left: 100%;
        }
    }
    &__option{
        position: absolute;
        @include flex(row, center, flex-start);
        bottom: 45px;
        left: 15px;
        z-index: 1;
    }
    &__pagination{
        margin-right: 35px;
        @include flex(row, center, flex-start);
        & .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background: map-get($gray-color, 62);
            margin-right: 15px;
            opacity: 1;
            &:last-child{
                margin-right: 0;
            }
            &-active{
                background: map-get($gray-color, 38);
            }
        }
    }
    &__all-link{
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        &::before{
            background: map-get($gray-color, 90);
        }
        &:hover{
            &::before{
                background: map-get($gray-color, 62);
            }
        }
        &:active{
            &::before{
                background: $black-color
            }
        }
    }
}