.checkbox{
    position: relative;
    display: inline-block;
    cursor: pointer;
    &__input{
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + .checkbox__name{
            &::before{
                background: linear-gradient(206.3deg, $primary-color -20.82%, $second-color 105.72%);
                border: none;
            }
            &::after{
                opacity: 1;
            }
        }
    }
    &__name{
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        @include gray-color(42);
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            margin-top: -10px;
            border-radius: 5px;
            border: 1px solid map-get($gray-color, 90);
        }
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 9px;
            top: 50%;
            margin-top: -4.5px;
            left: 4px;
            background: icon('ums-icon-check.svg') no-repeat 50%;
            background-size: cover;
            opacity: 0;
            transition: opacity .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        @include gray-color(42);
        &::before{
            background: map-get($gray-color, 90);
        }
        &:hover{
            &::before{
                background: map-get($gray-color, 62);
            }
        }
    }
}