.about{
    padding: 0;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($black-color, .5);
        top: 0;
        left: 0;
    }
    &__link{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 1.5rem;
        line-height: 1.3;
        text-decoration: none;
        &::before{
            background: map-get($gray-color, 90);
        }
        &:hover{
            &::before{
                background: map-get($gray-color, 62);
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 160px;
            height: 160px;
            top: 50%;
            left: 50%;
            margin-top: -80px;
            margin-left: -80px;
            background: $white-color;
            border-radius: 50%;
            box-shadow: 0 20px 20px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
            z-index: -1;
        }
    }
    &__wrapper{
        @include flex(column, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -180px;
        width: 360px;
        height: 360px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0 20px 20px 0 rgba($shadow-color, 0.05), 0 1px 1px 0 rgba($shadow-color, 0.1);
        z-index: 1;
        &-link{
            margin-top: 15px;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1.3;
            &::before{
                background: map-get($gray-color, 90);
            }
            &:hover{
                &::before{
                    background: map-get($gray-color, 62);
                }
            }
        }
    }
    &__icon{
        margin-bottom: 10px;
    }
    &__name{
        margin: 0;
        font-size: 2.8rem;
        letter-spacing: -.05rem;
        line-height: 1.42;
        text-align: center;
        & span{
            display: block;
            font-size: 1.5rem;
            line-height: 1.3;
            @include gray-color(42);
        }
    }
    &__btn{
        margin-top: 20px;
    }
}