// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex($flex-direction: row, $align-items: flex-start, $justify-content: flex-start) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font-weight($weight) {
  @if $weight=='normal' {
    font-weight: map-get($font-weight, $weight);
  }
  @if $weight=='medium' {
    font-weight: map-get($font-weight, $weight);
  }
  @else if $weight=='bold' {
    font-weight: map-get($font-weight, $weight);
  }
  @else if $weight=='extra' {
    font-weight: map-get($font-weight, $weight);
  }
}

@mixin gray-color($color-number){
  @if $color-number==30 {
    color: map-get($gray-color, $color-number);
  }
  @else if $color-number==38 {
    color: map-get($gray-color, $color-number);
  }
  @else if $color-number==42 {
    color: map-get($gray-color, $color-number);
  }
  @else if $color-number==62 {
    color: map-get($gray-color, $color-number);
  }
  @else if $color-number==90 {
    color: map-get($gray-color, $color-number);
  }
}

@mixin font() {
  font-family: $font;
}