// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Font
$font: 'Montserrat';
$title-font: '';
$base-font-size: 1.6rem;
//Url
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #211130;
$light-color: #F2CCFF;
$primary-color: #CC30CF;
$second-color: #33AAFF;
$primary-color-lighter: #AF3FFF;
$primary-light-color: #FCF0FF;
$shadow-color: rgb(65, 1, 121);
$error-color: #F10D0C;
$gray-color: (
    30: #4D4357,
    38: #3C2E49,
    42: #665D5D,
    62: #9D98A3,
    90: #E6E0EB
);
//Font weight
$font-weight: (
    'normal': normal,
    'medium': 500,
    'bold': bold,
    'extra': 800
);
