.footer{
    background: image('ums-footer-img.svg') no-repeat 50%;
    background-size: cover;
    &__top{
        padding: 65px 0;
        padding-bottom: 60px;
    }
    &__bottom{
        text-align: right;
        padding: 20px 0;
        border-top: 1px solid rgba($white-color, .1);
    }
    &__social{
        margin-top: 30px;
    }
    &__text{
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        color: rgba($white-color, .5);
        text-align: left;
    }
    &__link{
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        color: rgba($white-color, .5);
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__info{
        &-text{
            margin: 0;
            font-size: 1.2rem;
            line-height: 1.25;
            color: rgba($white-color, .7);
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-links{
            margin-bottom: 30px;
        }
        &-link{
            text-decoration: none;
            display: inline-block;
            vertical-align: baseline;
            font-size: 1.2rem;
            line-height: 1.25;
            color: rgba($white-color, .7);
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}