.course-btn{
    @include flex(row, center, center);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: -.03rem;
    line-height: 1.5;
    padding: 0 30px;
    height: 60px;
    background: $white-color;
    border-radius: 5px;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background: rgba($white-color, .9);
    }
    &:active{
        background: rgba($white-color, .8);
        color: $black-color;
    }
    &_style{
        &-1{
            background: rgba($white-color, .15);
            color: $white-color;
            &:hover{
                background: rgba($white-color, .25);
            }
            &:active{
                background: rgba($white-color, .35);
                color: $white-color;
            }
        }
    }
}