.process{
    background: $primary-light-color;
    padding-bottom: 100px;
    &__title{
        text-align: left;
        margin-bottom: 20px;
    }
    &__icon{
        @include flex(row, center, center);
        width: 100%;
        height: 90px;
        border-radius: 5px;
        background: $white-color;
        box-shadow: 0 20px 20px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
    }
    &__name{
        margin: 0;
        font-size: 2rem;
        @include font-weight('bold');
        letter-spacing: -.03rem;
        line-height: 1.5;
        margin-top: 15px;
    }
    &__text{
        margin: 0;
        font-size: 1.5rem;
        margin-top: 7px;
        line-height: 1.3;
        @include gray-color(30);
    }
}