.course-list{
    &__header{
        margin-bottom: 10px;
    }
    &__grid{
        background: $white-color;
        border-radius: 5px;
        box-shadow: 0 20px 20px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
    }
    &__more-btn{
        @include flex(row, center, center);
        width: 100%;
        height: 6rem;
        font-size: 1.7rem;
        @include font-weight('medium');
        border-radius: 5px;
        & svg{
            margin-left: 5px;
        }
        &:active{
            color: rgba($black-color, .7);
        }
    }
}