.course-list-item{
    @include flex(row, flex-start, flex-start);
    padding: 20px 40px;
    padding-bottom: 0;
    padding-right: 45px;
    &__img{
        display: block;
        flex-shrink: 0;
        margin-right: 25px;
        & img{
            max-width: 160px;
            max-height: 90px;
            border-radius: 5px;
        }
    }
    &__info{
        @include flex(row, center, flex-start);
        flex: 1 1 auto;
        padding-top: 10px;
        padding-bottom: 30px;
        border-bottom: 1px solid map-get($gray-color, 90);
    }
    &__title{
        text-decoration: none;
        font-size: 2rem;
        @include font-weight('bold');
        letter-spacing: -.03rem;
        max-width: 245px;
        line-height: 1.5;
    }
    &__meta{
        @include flex(row, center, flex-start);
        margin-left: 50px;
        &-item{
            @include gray-color(30);
            margin-right: 25px;
            line-height: 1.3;
            font-size: 1.5rem;
            &:last-child{
                margin-right: 0;
            }
        }
        &-value{
            display: block;
            line-height: 1.3;
            font-size: 1.5rem;
            @include gray-color(38);
            @include font-weight('medium');
        }
        &-inner{
            @include gray-color(62);
            text-decoration: line-through;
        }
    }
    &__select{
        box-shadow: 0 5px 40px 0 rgba($shadow-color, .05), 0 1px 1px 0 rgba($shadow-color, .1);
        height: 40px;
        width: 150px;
        border-radius: 5px;
        background: $white-color;
        position: relative;
        margin-left: 30px;
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 6px;
            background: icon('ums-icon-down-black.svg') no-repeat 50%;
            top: 50%;
            margin-top: -3px;
            right: 20px;
        }
        & select{
            width: 100%;
            height: 100%;
            padding: 0 15px;
            font-size: 1.5rem;
            position: relative;
            z-index: 1;
            &:active{
                color: $black-color;
            }
        }
    }
}