.about-video{
    position: absolute;
    width: 650px;
    height: 600px;
    top: 0;
    right: calc((100% - 1170px)/2 - 10px);
    &__link{
        display: block;
        text-decoration: none;
    }
    &__shape{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__text{
        margin: 0;
        font-size: 1.5rem;
        color: $white-color;
        line-height: 1.3;
        position: absolute;
        top: 45%;
        right: 10%;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed rgba($white-color, .3);
            left: 0;
            top: calc(100% + 3px);
        }
    }
}