// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.title{
    margin: 0;
    font-size: 5rem;
    letter-spacing: -.1rem;
    @include font-weight('extra');
    line-height: 1.2;
    color: $white-color;
    &_size{
        &-m{
            font-size: 4rem;
            letter-spacing: -.03em;
            line-height: 1.25;
            color: $black-color;
        }
    }
    &_style{
        &-dark{
            color: $black-color;
        }
    }
}
.link{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba($white-color, .2);
        top: 100%;
        left: 0;
    }
    &:hover{
        &::before{
            background: rgba($white-color, .4);
        }
    }
    &:active{
        &::before{
            background: rgba($white-color, .6);
        }
    }
}
.has-children{
    position: relative;
    & > a{
        position: relative;
        padding-right: 1.4em;
        &::after{
            content: '';
            position: absolute;
            width: 1.4em;
            height: 1.4em;
            top: 50%;
            margin-top: -.7em;
            right: 0;
            background: icon('ums-icon-down.svg') no-repeat 50%;
            transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &::before{
            width: calc(100% - 1.4em);
        }
        &.menu{
            &__link{
                &_style{
                    &-dark{
                        &::after{
                            background: icon('ums-icon-down-dark.svg') no-repeat 50%;
                        }
                    }
                }
            }
        }
    }
    &:hover{
        & .dropdown{
            opacity: 1;
            pointer-events: auto;
            transform: none;
        }
        & > a{
            &::after{
                transform: scale3d(1,-1,1);
            }
            &::before{
                opacity: 0;
            }
        }
    }
}
.wrapper{
    background: $primary-light-color;
    position: relative;
    padding-top: 100px;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 760px;
        top: 0;
        left: 0;
        background: image('ums-img-1.svg') no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
}
.blocker{
    z-index: 5;
}
.home-template{
    &__certificate{
        margin-top: 45px;
    }
    &__wrapper{
        padding-top: 185px;
    }
    &__header{
        margin-bottom: 135px;
    }
}
.template{
    &__title{
        display: inline-block;
    }
    &__header{
        margin-bottom: 30px;
    }
    &__breadcrumbs{
        margin-bottom: 40px;
    }
    &__advantages{
        margin-top: 30px;
    }
}
.category-template{
    &__select{
        padding-left: 10px;
    }
    &__wrapper{
        padding-bottom: 210px;
    }
}
.course-template{
    &__wrapper{
        padding-bottom: 150px;
        background: image('ums-course-img.svg') no-repeat;
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
        &::before{
            content: none;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 120px;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: image('ums-course-figure.svg') no-repeat;
            background-size: 100% auto;
            background-position: center bottom;
        }
    }
    &__certificate{
        background: $primary-light-color;
    }
}
.page-template{
    padding: 10px 0;
    padding-bottom: 200px;
    &__breadcrumbs{
        margin-bottom: 25px;
    }
}
.contact-page{
    &__map{
        width: 100%;
        height: 880px;
    }
    &__title{
        margin-bottom: 35px;
    }
    &__info{
        @include flex(column, flex-start, flex-start);
        &-item{
            margin: 0;
            margin-bottom: 35px;
            font-size: 2.8rem;
            line-height: 1.42;
            letter-spacing: -.05rem;
            & span{
                display: block;
                font-size: 1.7rem;
                @include gray-color(42);
                letter-spacing: 0.01em;
            }
        }
        &-link{
            text-decoration: none;
            &:hover{
                color: rgba($black-color, .8);
            }
        }
    }
    &__email{
        &-link{
            text-decoration: none;
            &::before{
                background: map-get($gray-color, 90);
            }
            &:hover{
                &::before{
                    background: map-get($gray-color, 62);
                } 
            }
        }
    }
    &__text{
        margin: 0;
        margin-top: 45px;
        font-size: 1.5rem;
        line-height: 1.3;
        max-width: 310px;
        @include gray-color(30);
    }
    &__btn{
        margin-top: 15px;
    }
}