.tabs{
    @include flex(row, center, flex-start);
    &__btn{
        padding: 0 2rem;
        height: 4rem;
        border-radius: 5px;
        background: rgba($white-color, .15);
        font-size: 1.7rem;
        color: $white-color;
        @include font-weight('medium');
        margin-right: 2px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background: $white-color;
            color: $black-color;
        }
        &:active{
            background: rgba($white-color, .9);
            color: $black-color;
        }
        &_active{
            background: $white-color;
            color: $black-color;
            pointer-events: none;
        }
    }
}