.section{
    padding: 50px 0;
    &__title{
        text-align: center;
        margin-bottom: 50px;
    }
    &__note{
        margin: 0;
        text-align: center;
        letter-spacing: .01em;
        font-size: 1.7rem;
        @include gray-color(42);
    }
}