.blog{
    padding: 100px 0;
    background: $primary-light-color;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 130px;
        position: absolute;
        left: 0;
        bottom: calc(100% - 1px);
        background: image('ums-blog-figure.svg') no-repeat center bottom;
        background-size: 100% auto;
    }
    &__header{
        @include flex(row, center, flex-start);
        margin-bottom: 30px;
    }
    &__col{
        margin-bottom: 30px;
    }
    &__title{
        margin: 0;
    }
    &__all-link{
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-left: auto;
        &::before{
            background: map-get($gray-color, 90);
        }
        &:hover{
            &::before{
                background: map-get($gray-color, 62);
            }
        }
        &:active{
            &::before{
                background: $black-color;
            }
        }
    }
}