.inner-select{
    display: inline-block;
    position: relative;
    &__btn{
        color: $light-color;
        font-size: 5rem;
        letter-spacing: -.1rem;
        @include font-weight('extra');
        line-height: 1.2;
        position: relative;
        padding-right: 1em;
        &::after{
            content: '';
            position: absolute;
            height: 1px;
            width: calc(100% - 1em);
            top: 100%;
            left: 0;
            border-bottom: 1px dashed rgba($white-color, .3);
        }
        &::before{
            content: '';
            position: absolute;
            width: 1em;
            height: 1em;
            top: 50%;
            margin-top: -.5em;
            right: 0;
            background: icon('ums-icon-down-color.svg') no-repeat;
            background-position: center 55%;
            transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &_active{
            &::before{
                transform: scale3d(1,-1,1);
            }
            color: $white-color;
        }
    }
}